<?xml version="1.0" encoding="utf-8" ?>
<MidiTouchSettings>
  <Finger1>
    <XCntrl>80</XCntrl>
    <XChannel>1</XChannel>
    <XMinVal>0</XMinVal>
    <XMaxVal>127</XMaxVal>
    <YCntrl>81</YCntrl>
    <YChannel>1</YChannel>
    <YMinVal>0</YMinVal>
    <YMaxVal>127</YMaxVal>    
  </Finger1>
  <Finger2>
    <XCntrl>82</XCntrl>
    <XChannel>1</XChannel>
    <XMinVal>0</XMinVal>
    <XMaxVal>127</XMaxVal>
    <YCntrl>83</YCntrl>
    <YChannel>1</YChannel>
    <YMinVal>0</YMinVal>
    <YMaxVal>127</YMaxVal>
  </Finger2>
  <Finger3>
    <XCntrl>0</XCntrl>
    <XChannel>0</XChannel>
    <XMinVal>0</XMinVal>
    <XMaxVal>127</XMaxVal>
    <YCntrl>0</YCntrl>
    <YChannel>0</YChannel>
    <YMinVal>0</YMinVal>
    <YMaxVal>127</YMaxVal>
  </Finger3>
  <Finger4>
    <XCntrl>0</XCntrl>
    <XChannel>0</XChannel>
    <XMinVal>0</XMinVal>
    <XMaxVal>127</XMaxVal>
    <YCntrl>0</YCntrl>
    <YChannel>0</YChannel>
    <YMinVal>0</YMinVal>
    <YMaxVal>127</YMaxVal>
  </Finger4>
  <Finger5>
    <XCntrl>0</XCntrl>
    <XChannel>0</XChannel>
    <XMinVal>0</XMinVal>
    <XMaxVal>127</XMaxVal>
    <YCntrl>0</YCntrl>
    <YChannel>0</YChannel>
    <YMinVal>0</YMinVal>
    <YMaxVal>127</YMaxVal>
  </Finger5>
</MidiTouchSettings>